::-webkit-scrollbar {
}
::-webkit-scrollbar:hover{
    overflow-y: auto;
    width: 12px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    color: #D3D3D3;
}
::-webkit-scrollbar-thumb:hover{
    display: inline; 
    background: #FF0F0F ;
}
::-webkit-progress-bar{
    background: #000000;
}
html{
    overflow-x: hidden;
}
nav{
    width: 100%;
    margin-right: -15px;
}
hr{
    size:  1px;
    color: red;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: right;
    color: white;
}
h4{
    text-align: right;
}
label{
    font-size: large;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: inherit;
}
i{
    font-size: 30px;
    color: white;
}
i:hover, label:hover,
h1:hover, h2:hover, h3:hover, h4:hover{
    color: red;
}
img{
    width: 221px;
    height: 50px;
}
.nomefantasia, .razaosocial, .nomesocio{
    width: 46%;
}
.qtdcolaboradores, .dtfund{
    width: 20%;
}
.inscestad, .CNPJ, .CPFs{
    width: 22%;
}
.ramoativ{
    width: 20%;
}
.logradouro{
    width: 50%;    
}
.nroend{
    width: 13%;
}
.complemento{
    width: 26%;
}
.bairro{
    width: 25%;
}
.CEP{
    width: 15%;
}
.cidade{
    width: 23%;
}
.uf{
    width: 22%;
}
.dddt{
    width: 7%;
}
.telefone{
    width: 13%;
}
.email, .emailc{
    width: 34%;
}
.banco{
    width: 45%;
}
.gerente{
    width: 70%;
}
.participacao, .cliente{
    width: 46%;
}
.nomeemp{
    width: 70%;
}
.cnpjemp{
    width: 22%;
}
.ordcompra{
    width: 32%
}
.autoriza{
    width: 100%;
}
.verbal, .poremail{
    width: 32%;
}
.copia, .link{
   /* color: white;*/
   /* color: #FF5559; */
   color: white;
}
.link:hover{
    color:red;
}
.nomecomp1, .nomecomp2, .nomecomp3{
    width: 40%;
}
.cpfcomp1, .cpfcomp2, .cpfcomp3{
    width: 18%;
}
.cargocomp1, .cargocomp2, .cargocomp3{
    width: 30%
}
#botao{ 
    text-align: center;
}
#formulario{
    background: rgb(168,168,168, 0.05);
    border-radius: 1%;
}